@import "../../App.scss";

.footer { 
    background-color: $primary;
    color: white;
    display: flex;
    justify-content: space-around;
}

.footer__links { 
    display: flex;
    list-style: none;
}

.footer__link { 
    margin: 0px 7px;
    cursor: pointer;
}