@import "../../App.scss";

.nav { 
    background-color: $primary-light;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    padding: 5px 0;
}

.title { 
    font-weight: 300;
    font-size: 32px;
    margin: 0;
}

.sub-title { 
    font-weight: 100;
    font-size: 16px;
    font-style: italic;
    margin: 0;
}

.links { 
    display: flex;
    list-style: none;
}

.links__elem { 
    border-radius: 5px;
    height: fit-content;
    padding: 5px 15px;
}

.links__elem:hover { 
    cursor: pointer;
}

.links__elem--blue { 
    background-color: $primary;
    color: white;
}