@import "../../App.scss";

.hero-background {
    max-width: $hero-width;
    width: 100%;
}

.headshot { 
    max-width: $profile-image-width;
    max-height: 300px;
    border-radius: 150px;
}

.profile__info { 
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 32px;
    max-width: $site-width;
    margin: 32px;
}

.profile { 
    display: flex;
    justify-content: center;
}